{% load static %}
    <!-- Footer -->
    <footer>
      <div class="footer-content">
        <div class="footer-logo">
          <i class="fa-solid fa-file-lines"></i> CVlytics
          <p>Empowering students with AI-driven career insights.</p>
        </div>
        <div class="copyright">
          &copy; 2025 AI Project. All rights reserved.
        </div>
      </div>
    </footer>

    <div id="toast" class="toast">
      <i class="fa-solid fa-circle-info"></i>
      <span id="toast-message"></span>
    </div>
{% comment %} ager me toggle button ko button ki bajae anchortag banadu tu phrr kesa idea hai {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
<!-- EmailJS -->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
